<section class="phx-hero">
  <h1>Live Stockpile</h1>
  <p>A Phoenix LiveView app to explain Elixir's List and Process</p>
</section>

<div id="wrapper">
  <%=
    live_render(
      @conn,
      StockpileWeb.StockpileLive
    )
  %>
</div>
